.inverse {
  background-color: #003B7A;
  color: white;
  text-shadow: 0 0 42px #424242;
}
.inverse h1, .inverse h2 {
  color: white;
  line-height: 0.84em;
}
.inverse h3 {
  color: white;
  line-height: 2.4em;
}
a {
  color: #003B7A;
}
.remark-slide-content {
  background-image: url(img/ude_pm-de.png);
  background-position: top right;
  background-size: 23%;
}
.title-slide {
  background-image: url("img//ude_pm-de.png");
  background-position: bottom; 
  background-size: 42%; 
}