body {
  text-align: justify;
}
.book .book-body .page-wrapper .page-inner section.normal h2 {
  font-size: 1em
}
p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}